venv
endpointList.txt
db.sqlite3
db.sqlite3.*
*.pyc
.DS_Store
.idea/.*
.idea/
conf/imports/themes/
conf/imports/forms/
conf/imports/screens/
screens/templates/themes/test.html
screens/templates/themes/pan.html
.gitignore
