
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

</script>
{% endblock%}
{% block content %}
<h2>{{ input_form.name }}</h2>
{{ input_form.instructions }}
<form method="POST" action="/input_forms/apply">
    <table>
        <tbody>
        <tr style="background: white">
            <td class="template_title">
                Endpoint:
            </td>
            <td>
                {{ endpoint.name }}
                <input type="hidden" name="group_id" value="{{ group_id }}"/>
                <input type="hidden" name="endpoint_id" value="{{ endpoint.id }}"/>
                <input type="hidden" name="input_form_id" value="{{ input_form.id }}"/>
            </td>
        </tr>
        <tr style="background: white">
            <td>
                IP Address:
            </td>
            <td>
                {{ endpoint.ip }}
            </td>
        </tr>
        <tr style="background: white">
            <td>
                Username:
            </td>
            <td>
                <input type="text" name="global_username" value="{{ endpoint.username }}"
                       title="Optional. Username to apply if the endpoint provider does not provide authentication parameters"
                       style="margin-left: 0px;"/>
            </td>
        </tr>
        <tr style="background: white">
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="{{ endpoint.password }}"
                       title="Optional. Password to apply if the endpoint provider does not provide authentication parameters"
                       value="password" style="margin-left: 0px;"/>
            </td>
        </tr>
        </tbody>
        {% for ao, ao_val in action_options.items %}
        {% if ao_val.variable %}
        <tbody>
        <tr>
            <td class="template_title">
                {{ ao_val.variable }}
            </td>
            <td>
                <input type="text" name="action_options_{{ ao_val.name }}" placeholder="{{ ao.name }}" style="margin-left: 0px;"/>
            </td>
        </tr>
        </tbody>
        {% endif %}
        {% endfor %}
        {% for j in json_object %}
        <tbody>
        <tr>
            <td class="template_title">
                {{ j.label }}
            </td>
            {% if j.widget == "preload_list" %}
            <td>
                <select name="{{ j.name }}">
                    {% for w in j.widget_data %}
                        <option value="w.value">w.key</option>
                    {% endfor %}
                </select>
            </td>
            {% else %}
            <td>
                <input type="text" name="{{ j.name }}" placeholder="{{ j.default }}">
            </td>
            {% endif %}
        </tr>
        </tbody>
        {% endfor %}
        <tbody>
        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="submit" value="Apply">
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}
