
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">
 function preview_template() {
    $("#preview").val('yes_please');
    $("#apply_form").submit();
 }
  function apply_template() {
    $("#preview").val('');
    $("#apply_form").submit();
 }
</script>
{% endblock%}
{% block content %}
<h2>{{ input_form.name }}</h2>
<h4>{{ input_form.description }}</h4>
<br/>
{{ input_form.instructions }}
<br/>
<form method="POST" id="apply_form" action="/input_forms/applyStandalone">
    <table>
        {% include "./input_form_body.html" %}
        <tr>
            <td colspan="2">
                <input type="hidden" name="input_form_id" value="{{ input_form.id }}"/>
                <input type="hidden" name="preview" id="preview" value=""/>
                <input type="button" onclick="javascript: apply_template()" value="Apply Template"/>
                <input type="button" onclick="javascript: preview_template()" value="Preview Template"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
