
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

</script>
{% endblock%}
{% block content %}
<h2>{{ input_form.name }}</h2>
{{ input_form.instructions }}
<form method="POST" action="/input_forms/apply">
    <table>
        <tbody>
        <tr style="background: white">
            <td class="template_title">
                Endpoint:
            </td>
            <td>
                {{ endpoint.name }}
                <input type="hidden" name="group_id" value="{{ group_id }}"/>
                <input type="hidden" name="endpoint_id" value="{{ endpoint.id }}"/>
                <input type="hidden" name="input_form_id" value="{{ input_form.id }}"/>
            </td>
        </tr>
        <tr style="background: white">
            <td>
                IP Address:
            </td>
            <td>
                {{ endpoint.ip }}
            </td>
        </tr>
        <tr style="background: white">
            <td>
                Username:
            </td>
            <td>
                <input type="text" name="global_username" value="{{ endpoint.username }}"
                       title="Optional. Username to apply if the endpoint provider does not provide authentication parameters"
                       style="margin-left: 0px;"/>
            </td>
        </tr>
        <tr style="background: white">
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="{{ endpoint.password }}"
                       title="Optional. Password to apply if the endpoint provider does not provide authentication parameters"
                       value="password" style="margin-left: 0px;"/>
            </td>
        </tr>
        </tbody>
        {% include "input_forms/input_form_body.html" %}
        <tbody>
        <tr>
            <td colspan="2" style="text-align: right;">
                <input type="submit" value="Apply">
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}
