
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

    var template_variables = [];

    var widgets = $.parseJSON('{{ widgets_json|safe }}');

    function submit_form() {
        // on form submission, gather up all the template variables
        // and keep in a json object. We only care about the constructed
        // json object from here on out

        // get the json object hidden form element
        var json = $("#json");
        // get a ref to a document element that contains all our template variables
        var template__variable__configs = $("#template__variable__configurator");

        // do some basic validation on name and description
        var name = $("#name").val();
        var description = $("#description").val();

        if (name == "" || description == "") {
            alert("You must provide a valid name and description");
            $("#name").focus();
            return false;
        }

        // use a jquery selector to find all document elements that 'start with' "template__variable__"
        // iterate over each one
        // for each template variable we want to know 5 things:
        // what is the name of the variable, the human readable label, the default value, and the widget config
        template__variable__configs.find('[id ^= "template__variable__"]').each(
            function(a,r) {
                // these are indexed by table row below
                var row = $("#" + r.id);

                // get the label object use a 'ends with' selector
                var name_label = row.find('[name $= "_label"]');
                // let the dev know we found it!
                console.log(name_label);
                // get the name form object that corresponds to this label element
                var name = name_label.attr("id").replace("_label", "");
                // get thh value of the label
                var label = name_label.val();
                // now use the 'ends with' selector to get the default value form element and value
                var default_value = row.find('[id $= "_default"]').val();

                // now use the 'ends with' selector to get the widget_config value form element and value
                var widget = row.find('[id $= "_widget"]').val();

                // now use the 'ends with' selector to get the widget_config value form element and value
                var widget_config = row.find('[id $= "_widget_config"]').val();

                // verify we have something to work with
                if (widget_config == "") {
                    widget_config = "{}";
                }

                // widget_config is a JSON string stored on the DOM
                // convert it back to a data structure here before serializing the whole thing back to a string
                // FIXME - should this be surrounded with try/catch?
                var widget_config_object = JSON.parse(widget_config);

                // let's log it here for the dev again
                console.log("name is: " + name);
                console.log("default is: " + default_value);
                console.log("label is: " + label);

                // construct a simple object and add to the 'template_variables' array
                t = {
                        "name" : name,
                        "label" : label,
                        "default": default_value,
                        "widget": widget,
                        "widget_config": widget_config_object
                    };
                template_variables.push(t);
            }
        );
        // dump the template_variables array to a string and set on the json form element
        var json_text = JSON.stringify(template_variables, null, 2);
        $("#json").val(json_text);

        // submit the form here after we are all done
        $("#create_form").submit();
    }

    $(window).load(function() {
        $( "#template_autocomplete" ).autocomplete({
            source: "/tools/search",
        });
    });

</script>
{% endblock%}
{% block content %}
<h2>Create Input Form for Template: {{ config_template.name }}</h2>
<form method="POST" action="/input_forms/create" id="create_form">
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" id="name" size="50" value="{{ config_template.name }}"
                       onblur="return clean_string_no_special(this);"/>
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <textarea rows="5" cols="60" name="description" id="description">{{ config_template.description }}</textarea>
            </td>
        </tr>
        <tr>
            <td>
                Instructions:
            </td>
            <td>
                <textarea rows="5" cols="60" name="instructions" id="instructions" placeholder="Use instructions to provide guidance on how the fields should be configured below"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Template:
            </td>
            <td>
                {{ config_template.name }}
            </td>
        </tr>

        <tr>
            <td>
                Available Tags:
            </td>
            <td>
                <table id="template__variable__configurator">
                    <th>Variable</th>
                    <th>Label</th>
                    <th>Default Value</th>
                    <th>Widget</th>
                    {% for t in available_tags %}
                    <tr id="template__variable__{{ forloop.counter }}">
                        <td>
                            {{ t }}
                        </td>
                        <td>
                            <input type="text" id="{{ t }}_label" name="{{ t }}_label" value="{{ t|capfirst }}"
                                   style="width: 150px"
                            />
                        </td>
                        <td>
                            <input type="text" id="{{ t }}_default" name="{{ t }}_default" value="none"
                                   style="width: 150px"
                            />
                        </td>
                        <td>
                            <select name="{{ t }}_widget" id="{{ t }}_widget"
                                    onchange="javascript: load_widget_configs('{{ t }}_widget')">
                                {% for w in widgets %}
                                <option value="{{ w.id }}">{{ w.label }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="{{ t }}_widget_config" id="{{ t }}_widget_config" value=""/>
                            <input type="button" id="{{ t }}_widget_config_button" value="Configure"
                                   onclick="javascript: load_widget_configs('{{ t }}_widget')"
                                   style="display: none;"/>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" name="json" id="json"/>
                <input type="hidden" name="config_template_id" value="{{ config_template.id }}"/>
                <input type="button" onclick="submit_form()" value="Save"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
