
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

</script>
{% endblock%}
{% block content %}
<h2>{{ input_form.name }} Preview</h2>
{{ input_form.instructions }}
<form method="POST" action="/input_forms/applyStandalone">
<table>
    {% include "./input_form_body.html" %}
    <tr>
            <td colspan="2" style="text-align: right">
                <input type="hidden" name="input_form_id" value="{{ input_form.id }}"/>
                <input type="hidden" name="preview" value="yes_please"/>
                <input type="submit" value="Preview Template"/>
            </td>
        </tr>
</table>
</form>
<br/>
<font class="small">This is a per-endpoint template. To execute this template, first choose an endpoint and select this template.</font>
{% endblock %}
