{% extends "screens/widgets/widget_base.html" %}
{% block widget %}
    <ul id="global_menu_list_{{ widget_layout_id }}"
        class="global_menu_ul">

    </ul>

    <script type="text/javascript">

        $(function () {
            let wgc = $.parseJSON('{{ widget_global_config|safe }}');
            console.log(wgc);

            $(wgc).each(function (i, s) {
                // create html fragment
                var new_row = $('<li/>');
                var new_link = $('<a/>');
                new_link.prop('href', s.value);
                new_link.html(s.name);
                new_row.append(new_link);

                // append the new_row html fragment to the new_rows tbody element
                $('#global_menu_list_{{ widget_layout_id }}').append(new_row);
            });

            $('#widget_container_' + {{ widget_layout_id }}).css('height', '');
            console.log('set height');
        });
    </script>
{% endblock %}