{% extends "screens/widgets/widget_base.html" %}
{% block widget %}
<td>
    <div id="image_title_{{ widget_layout_id }}"></div>
    <img title="static_image" id="static_image_{{ widget_layout_id }}"/>
    <script type="text/javascript">

        $(function() {
            var widget_layout_id = {{ widget_layout_id }};
            var config = {};

            var url = '{{ automation_results.output|safe }}';

            if (layout['widgets'][widget_layout_id] === undefined) {
                layout['widgets'][widget_layout_id] = {};
                layout['widgets'][widget_layout_id]['widget_config'] = {};
                layout['widgets'][widget_layout_id]['widget_config']['url'] = url;
            }

            if (layout['widgets'][widget_layout_id]['widget_config'] !== undefined) {
                config = layout['widgets'][widget_layout_id]['widget_config'];
                console.log(layout['widgets'][widget_layout_id]['widget_config']);
                var d = new Date().getTime()
                var u = layout['widgets'][widget_layout_id]['widget_config']['url'];

                // append a fake timestamp to the end of the URL to prevent caching
                var t = '?t=';
                if(u.includes('?')){
                    // this url already includes a query separator, use the '&' instead!
                    t = '&t=';
                }

                $('#static_image_{{ widget_layout_id }}').prop('src', u + t + d);

                if (config['title'] !== undefined) {
                    console.log('setting title');
                    $('#image_title_{{ widget_layout_id }}').html('<h3>' + config['title'] + '</h3>');
                }
            }

            $('#static_image_{{ widget_layout_id }}').on('load', function() {
                $('#widget_container_{{ widget_layout_id }}').css('height', 'initial');
                $('#widget_container_{{ widget_layout_id }}').css('width', 'initial');
            });

            if (config['refresh'] !== undefined) {
                var refresh = config['refresh'];
                if (refresh !== 0) {
                    setInterval(function() {
                        var d = new Date().getTime()
                        var u = config['url'];
                        $('#static_image_{{ widget_layout_id }}').prop('src', u + '&t=' + d);
                    }, refresh);
                }
            }
        });
    </script>
</td>
{% endblock %}
