<div class="overlay_menu">
    <!-- widget_base.html -->
    <div class="overlay_close">
        <a href="#" title="Configure"
           onclick="sticky_widget({{ widget_layout_id }})">
            &#9660;
        </a>
        <a href="#" title="Configure"
           onclick="load_screen_widget_configs_manual('{{ widget_id }}', {{ widget_layout_id }})">
            &#10033;
        </a>
        <a href="#" title="Close" onclick="close_screen_widget({{ widget_layout_id }})">X</a>
    </div>
</div>
{% block widget %}{% endblock %}