{% extends "input_forms/widgets/widget_overlay.html" %}
{% block overlay %}
<script type="text/javascript">

    console.log('{{ target_id }}');
    var config_element = $('#{{ target_id }}_config');

    if (config_element.val() != "") {
        j = JSON.parse(config_element.val());
        $('#complex_password_min_length').val(j.min);
        $('#complex_password_max_length').val(j.max);
        $('#complex_password_uppercase').prop("checked", j.uppercase);
        $('#complex_password_lowercase').prop("checked", j.lowercase);
        $('#complex_password_numbers').prop("checked", j.numbers);
        $('#complex_password_symbols').prop("checked", j.symbols);
    }

    function set_complex_password_input_config(target_id){

        console.log(target_id);
        var config_element = $('#' + target_id + '_config');

        console.log('#' + target_id + '_config');
        var min = $('#complex_password_min_length').val();
        var max = $('#complex_password_max_length').val();
        var uppercase = $('#complex_password_uppercase').prop("checked");
        var lowercase = $('#complex_password_lowercase').prop("checked");
        var numbers = $('#complex_password_numbers').prop("checked");
        var symbols = $('#complex_password_symbols').prop("checked");

        var widget_config = {
            "min": min,
            "max": max,
            "uppercase": uppercase,
            "lowercase": lowercase,
            "numbers": numbers,
            "symbols": symbols
        }

        var widget_config_text = JSON.stringify(widget_config, null, 0);
        config_element.val(widget_config_text);
        console.log(widget_config_text);
        console.log('all done');
        close_overlay();
    }
</script>
Complex password validation. The entered value must match the following criteria:
<br/>
Minimum Length: <input type="text" id="complex_password_min_length" value="6" style="width: 100"/>
<br/>
Maximum Length: <input type="text" id="complex_password_max_length" value="28" style="width: 100"/>
<br/>
Must Include Uppercase: <input type="checkbox" id="complex_password_uppercase"/>
<br/>
Must Include Lowercase: <input type="checkbox" id="complex_password_lowercase"/>
<br/>
Must Include Numbers: <input type="checkbox" id="complex_password_numbers"/>
<br/>
Must Include Symbols: <input type="checkbox" id="complex_password_symbols"/>
<br/>
<input type="button" onclick="javascript: set_complex_password_input_config('{{ target_id }}')" value="OK"/>
<br/>
{% endblock %}


