<td>
     <input type="text" size="25" id="endpoint_search_{{ j.name }}_{{ input_form.id }}"
            placeholder="Search Endpoints"/>

    <input type="hidden" id="endpoint_val_{{ j.name }}_{{ input_form.id }}" name="{{ j.name }}"/>

    <script type="text/javascript">
        $( "#endpoint_search_{{ j.name }}_{{ input_form.id }}" ).autocomplete({
            source: "/endpoints/search_ip",
            focus: function(event, ui) {
                event.preventDefault();
                $("#endpoint_search_{{ j.name }}_{{ input_form.id }}").val(ui.item.label);
            },
            select: function (event, ui) {

                var return_label = ui.item.label;
                if (return_label.indexOf('/') > 0) {
                    var rl_array = return_label.split('/');
                    var group_name = rl_array[0];
                    var endpoint_name = rl_array[1];
                    $("#endpoint_search_{{ j.name }}_{{ input_form.id }}").val(endpoint_name);
                } else {
                    $("#endpoint_val_{{ j.name }}_{{ input_form.id }}").val(return_label);
                }
                var return_value = ui.item.value;

                if (return_value.indexOf(':') > 0) {
                    var r_array = return_value.split(':');
                    var group_id = r_array[0];
                    var endpoint_ip = r_array[1];
                    $("#endpoint_val_{{ j.name }}_{{ input_form.id }}").val(endpoint_ip);

                } else {
                    $("#endpoint_val_{{ j.name }}_{{ input_form.id }}").val(return_value);
                }
                return false;
            }
        });
    </script>
</td>