{% extends "input_forms/widgets/widget_overlay.html" %}
{% block overlay %}
    <script type="text/javascript">

        var select_list_options = [];

        $(function () {
            let config_element = $('#{{ target_id }}_config');

            if ((config_element.val() !== "") && (config_element.val() !== "{}")) {
                let j = JSON.parse(config_element.val());
                select_list_options = j["select_list_options"];
                console.log('here we go');
                console.log(select_list_options);
            }

            $(select_list_options).each(function (i, s) {
                // create html fragment
                let s_id = s.name.replace(/ /g, '_');
                let new_row = $('<tr id="slo_' + s_id + '"/>');
                new_row.append('<td>' + s.name + '</td>');
                new_row.append('<td>' + s.value + '</td>');
                new_row.append('<td><a href="#" onclick="delete_select_list_option(\'' + s_id + '\')">X</a></td>');
                // append the new_row html fragment to the new_rows tbody element
                $('#select_list_table_rows').append(new_row);
            });
        });

        function delete_select_list_option(opt_name) {
            let s_id = opt_name.replace(/_/g, ' ');
            select_list_options = $.grep(select_list_options, function (a) {
                return a.name !== s_id;
            });

            $('#slo_' + opt_name).remove();
        }

        function add_select_list_option() {

            console.log(select_list_options);

            let select_list_option_name_el = $("#select_list_option_name");
            let select_list_option_value_el = $("#select_list_option_value");

            let option_name = select_list_option_name_el.val();
            let option_value = select_list_option_value_el.val();

            let s_id = option_name.replace(/ /g, '_');
            // create html fragment to show the item being added
            let new_row = $('<tr id="slo_' + s_id + '"/>');
            new_row.append('<td>' + option_name + '</td>');
            new_row.append('<td>' + option_value + '</td>');
            new_row.append('<td><a href="#" onclick="delete_select_list_option(\'' + s_id + '\')">X</a></td>');

            // append the new_row html fragment to the new_rows tbody element
            $('#select_list_table_rows').append(new_row);

            let new_select_list_option = {};
            new_select_list_option["name"] = option_name;
            new_select_list_option["value"] = option_value;

            select_list_options.push(new_select_list_option);

            select_list_option_name_el.val("");
            select_list_option_value_el.val("");

            // and debug log for developer sanity
            console.log(select_list_options);
        }

        function set_select_input_config(target_id) {

            console.log(target_id);
            let config_element = jQuery('#' + target_id + '_config');

            let widget_config = {
                "select_list_options": select_list_options
            };

            let widget_config_text = JSON.stringify(widget_config, null, 0);
            config_element.val(widget_config_text);
            console.log(widget_config_text);
            console.log('all done');
            close_overlay();
        }

    </script>
    Static List of Options. Add options below to populate the select options widget
    <br/>
    <table>
        <tr>
            <th>Option Name</th>
            <th>Option Value</th>
            <th>#</th>
        </tr>
        <tbody id="select_list_table_rows">
        </tbody>
        <tbody>
        <tr>
            <td>
                <input type="text" id="select_list_option_name"/>
            </td>
            <td>
                <input type="text" id="select_list_option_value"/>
                <input type="button" onclick="add_select_list_option()" value="Add"/>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="button" onclick="set_select_input_config('{{ target_id }}')" value="OK"/>
    <br/>
{% endblock %}


