
{% extends screen.theme  %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

    var input_form_ids = $.parseJSON('{{ input_form_ids|safe }}');

    var input_forms = $.parseJSON('{{ input_forms_json|safe }}');

    var layout = $.parseJSON('{{ layout|safe }}');

    var config_window_moved = false;

    function load_input_form(input_form_id) {
        var doc = jQuery(document.documentElement);
        doc.css('cursor', 'progress');

        var url = '/input_forms/configureTemplateForScreen/' + input_form_id;

        var post = jQuery.get(url, function(response) {
            var content = jQuery(response);
            var base_window = "";
            var new_window = "";

            base_window = $(" #input_form_box_base" );
            new_window = base_window.clone();

            var new_window_id = "input_form_box_" + input_form_id;
            new_window.prop("id", new_window_id);
            new_window.draggable({
                grid: [ 10, 10 ],
                stop: function (event, ui ) {
                    console.log(ui);

                }
            });

            var input_form_hidden_field = new_window.find('[name = input_form_id]');
            input_form_hidden_field.val(input_form_id);

            $( "body" ).append(new_window);

            var new_window_table = $("#" + new_window_id + " table tbody.screen_box_menu");
            var new_window_header = $("#" + new_window_id + " table tbody.screen_box_header tr td");

            if (input_form_id in input_forms) {
                var input_form_name = input_forms[input_form_id];
            } else {
                var input_form_name = $("#template_autocomplete").val();
                console.log(input_form_name);
            }

            new_window_header.empty().append(input_form_name);
            new_window_table.prepend(content);

            new_window.css("display", "inline-block");

            new_window.css("position", "absolute");

            if (input_form_id in layout) {
                this_layout = layout[input_form_id]
                console.log(this_layout)

                new_window.css("left", this_layout["x"]);
                new_window.css("top", this_layout["y"]);
            } else {
                // unknown or new window being added
                new_window.css("left", 30);
                new_window.css("top", 150);

                // make sure we have some values for it in the layout object
                this_layout = {}
                this_layout["x"] = 30;
                this_layout["y"] = 150;

                layout[input_form_id] = this_layout;
            }

        });

        post.fail(function() {
            alert('Could not perform request!');
        });
        post.always(function() {
            doc.css('cursor', '');
        });
    }

    function show_config_window() {
            var config_window = $( "#configuration_box" );

            config_window.draggable({
                grid: [ 10, 10 ]
            });

            config_window.css("display", "inline-block");
            config_window.css("position", "absolute");

            if (config_window_moved == false) {
                config_window.css("top", 140);
                config_window.css("left", 60);
                config_window_moved = true;
            }
    }

    function close_config_window() {
        var config_window = $( "#configuration_box" );
        config_window.css("display", "");
    }

    function update_layout() {
        for(i=0;i<input_form_ids.length;i++) {
            var input_form_id = input_form_ids[i]
            var input_form_box = $("#input_form_box_" + input_form_id);
            var current_y = input_form_box.css("top");
            var current_x = input_form_box.css("left");

            this_layout = layout[input_form_id]
            this_layout["x"] = current_x;
            this_layout["y"] = current_y;

            console.log(this_layout);
        }

        var doc = jQuery(document.documentElement);
        doc.css('cursor', 'progress');

        var url = "/screens/updateLayout/"

        var params = {
            "screen_id": {{ screen.id }},
            "layout": JSON.stringify(layout)
        }

        var post = jQuery.post(url, params, function(response) {
            console.log(response);
            load_overlay(response);
        });

        post.fail(function() {
            alert('Could not perform request!');
        });

        post.always(function() {
            doc.css('cursor', '');
        });
    }

    function apply_inline(obj) {
        // where were we clicked from?
        var j = $(obj);
        console.log(j);

        var parent_form = j.parents('form');
        console.log(parent_form);
        console.log('the parent form was ^^');

        console.log(parent_form.serialize());
        var url = '/input_forms/applyStandalone';

        var post = jQuery.post(url, parent_form.serialize(), function(response) {
            console.log(response);
            load_overlay(response);

        });

    }

    function add_automation() {
        var input_form_id = $( "#template_autocomplete_id" ).val();
        var input_form_name = $( "#template_autocomplete" ).val();

        if (input_form_id in layout) {
            console.log('Already added to this screen');
        } else {
            input_forms[input_form_id] = input_form_name;
            input_form_ids.push(input_form_id);
            load_input_form(input_form_id);

        }

        $( "#template_autocomplete_id" ).val("");
        $( "#template_autocomplete" ).val("");

        $( "#template_autocomplete" ).focus();
    }

    $(window).load(function() {
        for(i=0;i<input_form_ids.length;i++) {
            var ifi = input_form_ids[i];
            console.log(ifi);
            load_input_form(ifi);
        }
        $('#centered_box').css("height", "1000px");

        $( "#template_autocomplete" ).autocomplete({
            source: "/input_forms/searchAll",
            focus: function(event, ui) {
				event.preventDefault();
		        $("#template_autocomplete").val(ui.item.label);
			},
            select: function (event, ui) {
                $("#template_autocomplete").val(ui.item.label);
                $("#template_autocomplete_id").val(ui.item.value);
                return false;
            }
        });

    });
</script>
{% endblock %}

{% block content %}

<h2>{{ screen.description }}</h2>

<div class="screen_box" id="input_form_box_base">
    <form action="/input_forms/applyStandalone">
        <table style="width: 100%">
            <tbody class="screen_box_header">
                <tr>
                    <td colspan="2">No Name</td>
                </tr>
            </tbody>
            <tbody class="screen_box_menu">
                <tr>
                    <td>
                        <input type="hidden" name="input_form_id"/>
                        <input type="hidden" name="inline" value="yes_please"/>
                        <input type="button" value="Apply" onclick="apply_inline(this)">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="screen_box" id="configuration_box">
    <form action="/input_forms/applyStandalone">
        <table style="width: 100%; margin-top: 0px; padding-top: 0px; padding: 5px; ">
            <tbody class="screen_box_header">
                <tr>
                    <td colspan="2" style="text-align: right; border: 0px; padding: 0px; font-size: 50%; a: text-decoration: none">
                        <a href="#" onclick="javascript: close_config_window()">
                            X
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Screen Configuration Controls</td>
                </tr>
            </tbody>
            <tbody class="screen_box_menu">
                <tr>
                    <td>
                         <input type="text" size="25" id="template_autocomplete"
                                            placeholder="Add Automation to Screen"/>
                        <input type="hidden" id="template_autocomplete_id"/>
                        <input type="button" onclick="javascript: add_automation()" value="Add"/>
                    </td>
                </tr>
            <tr>
                <td>
                    <a href="#" onclick="javascript: update_layout();" title="Update Screen Layout">
                        Save Current Layout
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div id="footer" style="position: absolute; bottom: 5px; left: 0; right: 0; text-align: center;">
    <a href="/">A-Frame</a> -
    <a href="#" onclick="javascript: show_config_window();" title="Configure Screen">
        &#9881; Configure Screen
    </a>

</div>
{% endblock %}
