{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var new_labels = [];
        var deleted_labels = [];

        function add_label() {
            let label_name_sel = $('#new_screen_label_name');
            let label_name = label_name_sel.val();
            label_name_sel.val('');

            let label_value_sel = $('#new_screen_label_value');
            let label_value = label_value_sel.val();
            label_value_sel.val('');

            new_labels.push({'name': label_name, 'value': label_value});
            let assigned_labels_sel = $('#assigned_screen_labels');
            let new_assigned_row = $('<div class="screen_label"/>');
            {#new_assigned_row.append('<div>' + label_name + '</div><div>' + label_value + '</div>');#}
            new_assigned_row.append('<input type="text" disabled="disabled" value="' + label_name + '"/>');
            new_assigned_row.append('&nbsp;');
            new_assigned_row.append('<input type="text" disabled="disabled" value="' + label_value + '"/>');
            assigned_labels_sel.append(new_assigned_row);
        }

        function delete_label(name, value) {
            deleted_labels.push({'name': name, 'value': value});
            $('#label_' + name).remove();
        }

        function submit_form() {
            let new_labels_string = JSON.stringify(new_labels, null, 2);
            let deleted_labels_string = JSON.stringify(deleted_labels, null, 2);
            $("#new_labels").val(new_labels_string);
            $("#deleted_labels").val(deleted_labels_string);
            $("#edit_form").submit();
        }
    </script>
{% endblock %}
{% block content %}
    <h2>Edit Screen</h2>
    <form method="POST" action="/screens/update" id="edit_form" onsubmit="submit_form()">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" name="name" id="name" size="50" value="{{ screen.name }}"
                           onblur="return clean_string_no_special(this);"/>
                </td>
            </tr>
            <tr>
                <td>
                    Tag:
                </td>
                <td>
                    <input type="text" size="50" name="tag" value="{{ screen.tag }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    Labels:
                </td>
                <td>
                    <div id="assigned_screen_labels">
                        {% for l in screen.labels.all %}
                            <div class="screen_label" id="label_{{ l.name }}">
                                <input type="text" disabled="disabled" value="{{ l.name }}"/>
                                <input type="text" disabled="disabled" value="{{ l.value }}"/>
                                <input type="button" onclick="delete_label('{{ l.name }}', '{{ l.value }}')" value="Delete"/>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="screen_label">
                        <input type="text" id="new_screen_label_name" placeholder="Label Name"/>
                        <input type="text" id="new_screen_label_value" placeholder="Label Value"/>
                        <input type="button" onclick="add_label()" value="Add"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <textarea style="width: 508px; height: 100px;" title="Description"
                              name="description" id="description">{{ screen.description }}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="hidden" name="screen_id" value="{{ screen.id }}"/>
                    <input type="hidden" name="new_labels" id="new_labels"/>
                    <input type="hidden" name="deleted_labels" id="deleted_labels"/>
                    <input type="submit" value="Update"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
