
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

    var template_variables = [];

    function submit_form_old() {
        // on form submission, gather up all the template variables
        // and keep in a json object. We only care about the constructed
        // json object from here on out

        // get the json object hidden form element
        var json = $("#json");
        // get a ref to a document element that contains all our template variables
        var template__variable__configs = $("#template__variable__configurator");

        // do some basic validation on name and description
        var name = $("#name").val();
        var description = $("#description").val();

        if (name == "" || description == "") {
            alert("You must provide a valid name and description");
            $("#name").focus();
            return false;
        }

        // use a jquery selector to find all document elements that 'start with' "template__variable__"
        // iterate over each one
        // for each template variable we want to know 5 things:
        // what is the name of the variable, the human readable label, the default value, and the widget config
        template__variable__configs.find('[id ^= "template__variable__"]').each(
            function(a,r) {
                // these are indexed by table row below
                var row = $("#" + r.id);

                // get the label object use a 'ends with' selector
                var name_label = row.find('[name $= "_label"]');
                // let the dev know we found it!
                console.log(name_label);
                // get the name form object that corresponds to this label element
                var name = name_label.attr("id").replace("_label", "");
                // get thh value of the label
                var label = name_label.val();
                // now use the 'ends with' selector to get the default value form element and value
                var default_value = row.find('[id $= "_default"]').val();

                // now use the 'ends with' selector to get the widget_config value form element and value
                var widget = row.find('[id $= "_widget"]').val();

                // now use the 'ends with' selector to get the widget_config value form element and value
                var widget_config = row.find('[id $= "_widget_config"]').val();

                // let's log it here for the dev again
                console.log("name is: " + name);
                console.log("default is: " + default_value);
                console.log("label is: " + label);

                // construct a simple object and add to the 'template_variables' array
                t = {
                        "name" : name,
                        "label" : label,
                        "default": default_value,
                        "widget": widget,
                        "widget_config": widget_config
                    };
                template_variables.push(t);
            }
        );
        // dump the template_variables array to a string and set on the json form element
        var json_text = JSON.stringify(template_variables, null, 2);
        $("#json").val(json_text);

        // submit the form here after we are all done
        $("#create_form").submit();
    }

    var selected_automations = []

    function submit_form() {

        var selected_automations_text = JSON.stringify(selected_automations, null, 2);
        $("#input_forms").val(selected_automations_text);
        // submit the form here after we are all done
        $("#create_form").submit();

    }

    function addAutomation() {
        var automation_name = $( "#template_autocomplete" ).val();
        selected_automations.push(automation_name);
        var new_li = $("<li>")
        new_li.append(automation_name);
        $("#selected_automations_ui").append(new_li);

        $( "#template_autocomplete" ).val("");
        $( "#template_autocomplete" ).focus();
    }
    $(window).load(function() {
        $( "#template_autocomplete" ).autocomplete({
            source: "/input_forms/searchAll",
        });
    });


</script>
{% endblock%}
{% block content %}
<h2>Create a new Screen</h2>
<form method="POST" action="/screens/create" id="create_form">
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" id="name" size="50" placeholder="Name of this screen view"
                       onblur="return clean_string_no_special(this);"/>
            </td>
        </tr>
        <tr>
            <td>
                Theme:
            </td>
            <td>
                <select name="theme" id="theme">
                    {% for theme in themes %}
                    <option value="{{ theme.base_template }}">{{ theme.label }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <textarea rows="5" cols="60" name="description" id="description"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Add Automation Input Form:
            </td>
            <td>

                <input type="text" size="25" id="template_autocomplete"
                       placeholder="search input form definitions"> &nbsp;
                <input type="button" onclick="javascript: addAutomation()" value="Add"/>
            </td>
        </tr>
        <tr>
            <td>
                Automations:
            </td>
            <td>
                <input type="hidden" name="input_forms" id="input_forms" value="">
                <ul id="selected_automations_ui">

                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">

                <input type="button" onclick="submit_form()" value="Save"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
