
{% extends "base.html" %}
{% block title %}A-Frame{% endblock %}
{% block scripts %}
<script type="text/javascript">

$(window).load(function() {
    $( "#template_autocomplete" ).autocomplete({
        source: "/input_forms/search",
        focus: function(event, ui) {
            event.preventDefault();
            $("#template_autocomplete").val(ui.item.label);
        },
        select: function (event, ui) {
            $("#template_autocomplete").val(ui.item.label);
            return false;
        }
    });
});


</script>

{% endblock %}
{% block content %}

<h2>Endpoint Details</h2>
<table>
    <tr>
        <td>
            Endpoint ID:
        </td>
        <td>
            {{ endpoint.id }}
        </td>
    </tr>
    <tr>
        <td>
            Endpoint Name:
        </td>
        <td>
            {{ endpoint.name }}
        </td>
    </tr>
    <tr>
        <td>
            IP Address:
        </td>
        <td>
            {{ endpoint.ip }}
        </td>
    </tr>
    <tr>
        <td>
            Endpoint Type:
        </td>
        <td>
            {{ endpoint.type }}
        </td>
    </tr>
    <tr>
        <td>
            Username:
        </td>
        <td>
            {{ endpoint.username }}
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            {{ endpoint.password }}
        </td>
    </tr>
</table>
<br/>
<h3>Apply Template:</h3>
<table>
    <tr>
        <td>
            <form method="POST" action="/input_forms/configureTemplate">
                <input type="hidden" name="group_id" value="{{ group_id }}">
                <input type="hidden" name="endpoint_id" value="{{ endpoint.id}}">
                <input type="text" name="input_form_name" size="25" id="template_autocomplete"
                       placeholder="search input form definitions">
                <input type="submit">
            </form>
        </td>
    </tr>
</table>
{% endblock %}
