{% extends "base.html" %}
{% load staticfiles %}
{% block title %}A-Frame - New Template{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function validateForm() {
        var ap = $('#action_provider').val();
        if (ap == "n/a") {
            alert('Please select an Action Provider below');
            return false;
        }
    }
</script>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();" action="/tools/configureAction/">
    <h2>New Template - Step 1 of 3</h2>
    <h3>Choose Action provider</h3>
    <table id="action_params_container">
        <tr>
            <td>
                Action Provider
            </td>
            <td>
                <select name="action_provider" id="action_provider">
                    {% for ap in action_providers %}
                    <option value="{{ ap.0 }}">{{ ap.1 }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Next"/>
</form>
{% endblock %}
