{% extends "base.html" %}
{% load staticfiles %}
{% block title %}A-Frame - New Template{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
    <script type="text/javascript">

    function get_action_options(action_name) {

        var doc = jQuery(document.documentElement);
        doc.css("cursor", "progress");

        var params = {
            "action_name" : action_name
        }

        var url = "/tools/actionOptions/"

        var post = jQuery.post(url, params, function(response) {
            data = eval(response);
            if ("options" in data) {
                console.log("dumping options");
                var opts = data["options"];
                for (o=0; o < opts.length; o++) {
                    console.log(opts[o]);
                }
            }
        });
        post.fail(function() {
            alert("Could not perform request!");
        });

        post.always(function() {
            doc.css("cursor", "");
        });
    }

    function check_embedded_variable(el) {
        var element_value = el.value;
        console.log(element_value);
        if (element_value.includes("{% templatetag openvariable %}")) {
            console.log("Showing label options");
            var label_input = $("#" + el.name + "_variable")
            label_input.css("display", "");
            //label_input.attr("placeholder", "Label for " + el.value);
            label_input.val(el.name);
        }
    }

    $(window).load(function() {
        console.log("loading");
        $("#id_action_provider").change(
            function(v){
                var selected_action = $("#id_action_provider").val();
                get_action_options(selected_action);
            });
    });

    </script>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();"
      action="/tools/defineTemplate/">
    <h2>New Template - Step 2 of 3</h2>
    <h3>Configure Action Options</h3>
    <table id="action_params_container">
        <tr>
            <td>
                Action Provider
            </td>
            <td>
               {{ action_provider }}
            </td>
        </tr>
        {% for opts in action_options %}
        <tr>
            <td name="action_params_label">
                {{ opts.label }}
            </td>
            <td name="action_params_data">
                {% if opts.type == "text" %}
                    <input type="text" name="{{ opts.name }}" placeholder="{{ opts.default }}"
                           onblur="javascript: check_embedded_variable(this)"/>
                     &nbsp;
                    <input type="text" name="{{ opts.name }}_variable"
                           id="{{ opts.name }}_variable"
                           placeholder="{% templatetag openvariable %} Variable {% templatetag closevariable %} Label"
                           style="display: none; width: 165px"/>
                {% else %}
                    <select name="{{ opts.name }}">
                        {% for c in opts.choices %}
                            <option value="{{ c.name }}">{{ c.label }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="action_provider" value="{{ action_provider }}"/>
    <input type="submit" value="Next"/>
</form>
{% endblock %}
