{% extends "base.html" %}
{% load staticfiles %}
{% block title %}A-Frame - New Template{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        function get_action_options(action_name) {

            let doc = jQuery(document.documentElement);
            doc.css("cursor", "progress");

            let params = {
                "action_name": action_name
            };

            let url = "/tools/actionOptions/";

            let post = jQuery.post(url, params, function (response) {
                let data = eval(response);
                if ("options" in data) {
                    console.log("dumping options");
                    let opts = data["options"];
                    for (let o = 0; o < opts.length; o++) {
                        console.log(opts[o]);
                    }
                }
            });
            post.fail(function () {
                alert("Could not perform request!");
            });

            post.always(function () {
                doc.css("cursor", "");
            });
        }

        function check_embedded_variable(el) {
            let element_value = el.value;
            console.log(element_value);
            if (element_value.includes("{% templatetag openvariable %}")) {
                console.log("Showing label options");
                let label_input = $("#" + el.name + "_variable");
                label_input.css("display", "");
                //label_input.attr("placeholder", "Label for " + el.value);
                label_input.val(el.name);
            }
        }

        $(window).load(function () {
            console.log("loading");
            $("#id_action_provider").change(
                function (v) {
                    var selected_action = $("#id_action_provider").val();
                    get_action_options(selected_action);
                });
        });

    </script>
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" action="/tools/defineTemplate/">
        <h2>New Template - Step 2 of 3</h2>
        <h3>Configure Action Options</h3>
        <table id="action_params_container">
            <tr>
                <td>
                    Action Provider
                </td>
                <td>
                    {{ action_provider }}
                </td>
            </tr>
            {% for opts in action_options %}
                <tr>
                    <td>
                        {{ opts.label }}
                    </td>
                    <td name="action_params_data">
                        {% if opts.type == "text" %}
                            <input type="text" name="{{ opts.name }}" placeholder="{{ opts.default }}"
                                   onblur="check_embedded_variable(this)"/>
                            &nbsp;
                            <input type="text" name="{{ opts.name }}_variable"
                                   id="{{ opts.name }}_variable"
                                   placeholder="{% templatetag openvariable %} Variable {% templatetag closevariable %} Label"
                                   style="display: none; width: 165px"/>
                        {% elif opts.type == 'secret' %}
                            <select name="{{ opts.name }}" title="Secret lookup from conf/secrets.yml">
                                {% for s in secrets %}
                                    <option value="{{ s.name }}">{{ s.label }}</option>
                                {% endfor %}
                            </select>
                        {% elif opts.type == 'kv_list' %}
                            <div id="{{ opts.name }}_kv_div" class="table_div">
                                <div class="table_body" id="{{ opts.name }}_list"></div>
                                <div class="table_body">
                                    <div class="table_row">
                                        <div class="table_cell">
                                            <input type="text" id="{{ opts.name }}_k" placeholder="Key"/>
                                        </div>
                                        <div class="table_cell">
                                            <input type="text" id="{{ opts.name }}_v" placeholder="Value"/>
                                        </div>
                                        <div class="table_cell">
                                            <input type="button" id="{{ opts.name }}_add"
                                                   onclick="add_kv_list('{{ opts.name }}')" value="Add"/>
                                            <input type="hidden" id="{{ opts.name }}" name="{{ opts.name }}"
                                                   value="[]"/>
                                            <input type="hidden" id="{{ opts.name }}_index"
                                                   value="{}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <select title="{{ opts.name }}" name="{{ opts.name }}">
                                {% for c in opts.choices %}
                                    <option value="{{ c.name }}">{{ c.label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="hidden" name="action_provider" value="{{ action_provider }}"/>
        <input type="submit" value="Next"/>
    </form>
{% endblock %}
