{% extends "base.html" %}
{% load staticfiles %}
{% block title %}A-Frame - Edit Template{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    function validateForm() {
        var d = $('#id_description');
        var n = $('#id_name');
        if (n.val() == "") {
            alert("Please enter a name!");
            n.focus();
            return false;
        }
        if (d.val() == "") {
            alert("Please enter a description!");
            d.focus();
            return false;
        }
    }

    function embed_template() {

        var template_name = $('#template_autocomplete').val();

        var doc = jQuery(document.documentElement);
        doc.css('cursor', 'progress');

        var params = {
            "template_name" : template_name
        }

        var url = "/tools/embedTemplate/"

        var post = jQuery.post(url, params, function(response) {
            load_overlay(response);
        });

        post.fail(function() {
            alert('Could not perform request!');
        });

        post.always(function() {
            doc.css('cursor', '');
        });
    }

    $(window).load(function() {
        var ao = $( "#action_options" ).val();
        var action_options_json = JSON.parse(ao);
        for (opt in action_options_json) {
            var opt_obj = action_options_json[opt];
            var name = opt_obj["name"];
            console.log(name + " : " + opt_obj["value"]);
            var default_opt = $('[name *= "' + name + '"]');
            default_opt.val(opt_obj["value"]);
        }

        $( "#template_autocomplete" ).autocomplete({
            source: "/tools/search",
        });
    });

    </script>
{% endblock %}
{% block content %}
<h2>Edit Template</h2>
<form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();" action="/tools/update/">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" name="name" id="name" value="{{ template.name }}"/>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea cols="65" rows="5" name="description">{{ template.description }}</textarea></td>
        </tr>
        <tr>
            <td>Template</td>
            <td><textarea cols="65" rows="10" name="template">{{ template.template }}</textarea></td>
        </tr>

    </table>
    <h3>Tools</h3>
    <table>
        <tr>
            <td>
                Embed Template:
            </td>
            <td>
                <input type="text" name="embedded_template" size="25" id="template_autocomplete"
                       placeholder="search templates definitions"> &nbsp;
                <input type="button" onclick="javascript: embed_template()" value="View API"/>
            </td>
        </tr>
    </table>
    <h3>Action Options</h3>
    <table>
        {% for opts in default_options %}
        <tr>
            <td name="action_params_label">
                {{ opts.label }}
            </td>
            <td name="action_params_data">
                {% if opts.type == "text" %}
                <input type="text" name="{{ opts.name }}" placeholder="{{ opts.default }}"/>
                {% else %}
                <select name="{{ opts.name }}">
                    {% for c in opts.choices %}
                    <option value="{{ c.name }}">{{ c.label }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="id" value="{{ template.id }}"/>
    <input type="hidden" id="action_options" value="{{ action_options }}"/>
    <input type="submit"/>
</form>
{% endblock %}
