{% extends "base.html" %}
{% load staticfiles %}
{% block title %}A-Frame - New Template{% endblock %}
{% block scripts %}
    <script type="text/javascript">

    function get_action_options(action_name) {

        var doc = jQuery(document.documentElement);
        doc.css("cursor", "progress");

        var params = {
            "action_name" : action_name
        }

        var url = "/tools/actionOptions/"

        var post = jQuery.post(url, params, function(response) {
            data = eval(response);
            if ("options" in data) {
                console.log("dumping options");
                var opts = data["options"];
                for (o=0; o < opts.length; o++) {
                    console.log(opts[o]);
                }
            }
        });
        post.fail(function() {
            alert("Could not perform request!");
        });

        post.always(function() {
            doc.css("cursor", "");
        });
    }

    $(window).load(function() {
        console.log("loading");
        $("#id_action_provider").change(
            function(v){
                var selected_action = $("#id_action_provider").val();
                get_action_options(selected_action);
            });
    });

    </script>
{% endblock %}
{% block content %}
<h2>New Template</h2>
<form method="post" enctype="multipart/form-data" onsubmit="javascript: return validateForm();" action="/tools/create/">
{{ template_form }}
{% csrf_token %}
<input type="submit"/>
</form>
{% endblock %}
